*{
    margin: 0;
    padding: 0;
    /* background-color: darkgreen; */
}

body {
    background-color: darkgreen;
}

.chessGoof{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    font-size: xx-large;
}

.allDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: black; */
}

#gameboard {
    padding: 10px;
    width: 480px;
    height: 480px;
    background-color: navy;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square svg{
    height: 60px;
    width: 60px;
    margin: 0px;
}

.beige{
    background-color: white;
}

.brown{
    background-color: maroon;
}

.white {
    fill: blue!important;
    background-color: beige;
}

.black{
    fill: black;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
}