*{
    margin: 0;
    padding: 0;
    /* background-color: darkgreen; */
}

body {
    background-color: darkgreen;
}

.chessGoof{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    font-size: xx-large;
}

.allDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#gameboard {
    padding: 10px;
    width: 480px;
    height: 480px;
    background-color: navy;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    height: 60px;
    width: 60px;
}

.square svg{
    height: 50px;
    width: 50px;
    margin: 5px;
}

.beige{
    background-color: white;
}

.brown{
    background-color: maroon;
}

/* .black{
    fill: blue;
} */

p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
}